[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gym = "*"
rocket-lander-gym = {editable = true,git = "https://github.com/igor-cheb/Rocket_Lander_Gym.git"}
box2d-py = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
# scikit-learn = "==0.22.2"
#scikit-learn = "==0.23.0"
scikit-learn = "*"
pyglet = "*"

[dev-packages]

[requires]
python_version = "3.9"
